@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit&family=Lobster&family=Poppins&family=Prompt&family=Roboto+Mono&family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*COLOURS*/
.blue-dark {
    color: #174A5B;
}
.blue-light {
    color: #FFC2C4;
}

.red-dark {
    color: #FF585D;
}
.red-light {
    color: #FFC2C4;
}


/*CSS*/
html {
    scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


.filter {
    -webkit-filter: brightness(110%) contrast(85%) saturate(75%) sepia(22%);
    filter: brightness(110%) contrast(85%) saturate(75%) sepia(22%);
}

.big-title {
    /*font-family: 'Abril Fatface', cursive;*/
    /*letter-spacing: 1.5px;*/
    font-size: 35px;
    color: #174A5B;
    font-weight: bold;
}

.btn-blue {
    background-color: #174A5B;
    color: white;
}
.btn-blue:hover {
    background-color: #2D92B4;
}

.btn-red {
    background-color: #FF585D;
    color: white;
}
.btn-red:hover {
    background-color: #FF8589;
}

.nav-items {
    font-family: 'Prompt', sans-serif;
}

.paragraphe {
    font-family: 'Poppins', sans-serif;
}

.nice-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.smooth {
    scroll-behavior: smooth;
}

.avis-quotes {
    /*max-width: 320px!important;*/
    margin: 0 auto;
}

/*.carousel {*/
/*    height: 35rem;*/
/*}*/



